.clr-purple {
    color: $color-purple-dark;
}

.clr-light-blue{
    color: $color-light-blue;
}

.clr-blue {
    color: $color-blue;
}

.clr-light {
    color: $color-light-0;
}

.clr-dark {
    color: $color-dark-0;
}

.clr-grey {
    color: $color-body-copy;
}

.clr-bg-blue {
    background-color: $color-dark-blue;
}

.clr-light {
    color: $color-light-0;
}

.clr-dark {
    color: $color-dark-0;
}

.gr-purple {
	background: $gr-purple;
}