.contact {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 530px;
	padding-bottom: 6.25em;
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__left{
		display: flex;
		flex-direction: column;
		&__top {
			display: flex;
			flex: 1;
			flex-direction: column;
			align-self: flex-start;
		}
		&__bottom {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&__right{
		display: flex;
		flex-direction: column;
		margin-top: 3em;
	}
	@media #{$desktop}{
	flex-direction: row;
	max-height: 800px !important;
		&__content {
			display: flex;
			flex-direction: row;
		}
		&__left{
			display: flex;
			flex-direction: column;
			width: 55%;
			.description {
				max-width: 70%;
				&:nth-of-type(odd){
					margin-bottom: 1em;
				}
			}
		}
		&__right{
			display: flex;
			flex-direction: column;
			width: 35%;
			margin-top: 0em;
			&__details {
				display: flex;
				flex-direction: row;
			}
		}	
	}
}

textarea,
input {
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.2);
	color: $color-light-0;
	padding: 1.5em;
	margin: 1em;
	margin-left: 0em;
	width: 100%;
	&:nth-child(2){
		margin-right: 0em;
	}
}

textarea::placeholder,
input::placeholder {
	color: $color-light-blue;
}

.send-mark {
	position: absolute;
	z-index: 5;
	height: 1em;
	top: -2em;
	right: 4.2em;
}
