.header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    margin: 0 auto;
    width: 88%;
    z-index: 100;
    height: 13%;
    position: absolute;
    &__wrapper {
        width: 100%;
        max-width: $vp-lg;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 2em;
    }
    &__branding {
        &__name {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 600;
            color: $color-light-0;
            letter-spacing: 2px;
            &__text {
                display: none;
            }
            &__image {
                width: 30px;
                height: 30px;
                margin-right: 8px;
                padding: 5px;
                border-radius: 3px;
                &--white {
                    display: inline-block;
                }
                &--black {
                    display: none;
                }
            }

        }
    }
    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__nav {
        display: none;
        flex-direction: row;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-left: 2em;
            a {
                font-size: 0.9em;
                color: $color-light-0;
            }
        }
    }
    &__nav-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__button {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 28px;
            height: 18px;
            margin-left: 2em;
            cursor: pointer;
            position: relative;
            &__line {
                width: 28px;
                height: 2px;
                background: $color-light-0;
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            }
            &--active {
                .header__nav-mobile__button__line {
                    margin: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                }
                .header__nav-mobile__button__line:nth-of-type(1) {
                    transform: rotate(45deg);
                }
                .header__nav-mobile__button__line:nth-of-type(2) {
                    opacity: 0;
                }
                .header__nav-mobile__button__line:nth-of-type(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &__languages {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2em;
        background: 0;
        border: 1px solid #2EBDC2;
        border-radius: 3px;
        width: 28px;
        height: 28px;
        &__current {
            color: #2EBDC2;
            font-size: 0.9em;
            font-weight: 600;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
    &--active {
        background: $color-light-0;
        transition: background 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        .header__branding__name {
            color: $color-dark-blue;
        }
        .header__branding__name__image--white {
            display: none;
        }
        .header__branding__name__image--black {
            display: inline-block;
        }
        .header__nav {
            li {
                a {
                    color: $color-dark-blue;
                    transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
        .header__nav-mobile {
            &__button {
                &__line {
                    background: $color-dark-0;
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
        .header__languages {
            background: #2EBDC2;
            border: 1px solid #2EBDC2;
            transition: background 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            &__current {
                color: $color-light-0;
                transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }

}



@media screen and (min-width: $vp-md) {
    .header {
        &__nav {
            display: flex;
        }

        &__nav-mobile {
            display: none;
        }
        &__branding {
            &__name {
                &__text {
                    display: inline-block;
                }
            }
        }
        &--admin-bar {
        top: 32px;
        }
    }
}