.main {
	position: relative;
}
.container {
    margin: 0 auto;
    width: 83.33%;
}

section {
	padding-top: 8.33em;
	min-height: 600px;
	outline: none;
	@media #{$desktop} {
		min-height: 800px;
	}
}

section.hero {
	padding-top: 0em !important;
}

.description{
	max-width:85%;
	@media #{$desktop} {
		max-width: 45%;
	}
}

.hidden {
	display: none;
}


.section{
	display: flex;
	flex-direction: column;
	padding-bottom: 6.25em;
	&__top{

	}
	&__bottom{
		padding-top: 4rem;
		display: flex;
		flex-direction: column;
		p {
			width: 100%;
		}

/*
 *  STYLE 4
 */

&::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}
	}
	@media #{$desktop}{
		&__top{

		}
		&__bottom{
			padding-top: 4rem;
			display: flex;
			flex-direction: row;
			p {
				width: 100%;
			}
		}		
	}
}
