.main {
	position: relative;
}
.container {
    margin: 0 auto;
    width: 83.33%;
}

section {
	padding-top: 8.33em;
	min-height: 600px;
	@media #{$desktop} {
		min-height: 800px;
	}
}

section.hero {
	padding-top: 0em !important;
}

.description{
	max-width:85%;
	@media #{$desktop} {
		max-width: 45%;
	}
}

.hidden {
	display: none;
}