 @mixin circle($size: 100px) {
	width: $size;
	height: $size;
  position: relative;
	
	-webkit-border-radius: $size / 2 + 0px;
	-moz-border-radius: $size / 2 + 0px;
	border-radius: $size / 2 + 0px;
  
  & > div, span {
    width: $size - $size*0.3;
    height: $size - $size*0.3;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
  }
}

.text-circle {
  @include circle(200px);
  background: #abc;
  font-size: 20px;
  display: inline-block;
}

.img-circle {
  @include circle(300px);
  background: $color-light-0;
  display: inline-block;
  div {
  background: 0;
   
  }

}

.img-main {
  @include circle(450px);
  background: $color-light-0;
  display: inline-block;
  div {
  background: 0;
   
  }

}


/*
<div class="text-circle"><div>Lorem ipsum dolor</div></div>
<div class="img-circle"><div> </div></div>
<div class="text-circle"><span>Lorem ipsum fds</span></div>
*/

@mixin shadow() {
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.024);
}