.projects{
	&__bottom{
		justify-content: flex-start;
		p {
			width: 100%;
		}
	}
	@media #{$desktop}{
		&__bottom{
			flex-direction: row;
			justify-content: flex-start;
		}		
	}
}

.project-hero{
	overflow:hidden;
	position: relative;
	max-width: 300px;
	max-height: 300px;
	@include shadow();
	img{
		object-fit: cover;
		width: auto;
		height: 100%;
	}
	@media #{$desktop} {
		max-width: 500px;
		max-height: 500px;
	}
}

.featured{
	position:relative;
	margin: 2em auto;
	@media #{$desktop} {
		max-width: 500px;
		max-height: 500px;
		margin: auto;
	}
}

.project{
	flex: 1;
	margin-right: 8.5rem;
}