.services{
	display: flex;
	flex-direction: column;
	padding-bottom: 6.25em;
	&__top{

	}
	&__bottom{
		padding-top: 4rem;
		display: flex;
		flex-direction: column;
		p {
			width: 100%;
		}
	}
	@media #{$desktop}{
		&__top{

		}
		&__bottom{
			padding-top: 4rem;
			display: flex;
			flex-direction: row;
			p {
				width: 100%;
			}
		}		
	}
}

.service{
	flex-basis: 1;
}

.icon {
	padding: 1em;
	height: 5em;
	width: 5em;
	background: #EEF3FF;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		vertical-align: middle;
		width: 140px;
	}
}