$font-family-0: 'Poppins', sans-serif;
$font-family-1: 'Playfair Display', serif;

// Responsive Variable Breakpoint
$vp-sm: 320px;
$vp-md: 768px;
$vp-lg: 996px;
$vp-xl: 1224px;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// p {
//   font-size: 16px;
// }

// @media #{$tablet} {
//   p {
//     font-size: 18px;
//   }
// }

// @media #{$desktop} {
//   p {
//     font-size: 20px;
//   }
// }

// Colors

// -1) Basic
$color-dark-0: #000;
$color-light-0: #fff;

// -2) Brand
$color-blue: #00D6FF;
$color-light-blue: #5282FF;
$color-dark-blue: #000AFF;
$color-purple-dark: #5200FF;
$color-purple-light: #EEF3FF;
$color-title: #2A407A;
$color-light-title: #F2F2F2;
$color-heading: #383838;
$color-body-copy: #BDBDBD;

// Gradients

$gr-purple: linear-gradient(56.63deg, #5200FF 49.28%, #BC90FF 145.44%);
$gr-white-grey: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 86.19%);