@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'header';
@import 'components/button-link';
@import 'components/message';
@import 'colors';
@import 'hero';
@import 'drawer';
@import 'global';
@import 'layout';
@import 'projects';
@import 'services';
@import 'testimonials';
@import 'contact';
@import 'footer';

html,
body {
    width: auto;
    height: auto;
}

hr {
    border: none;
    border-bottom: 1px solid $color-dark-blue;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

button {
    outline: 0;
    border: 0;
}

.site {
    &--admin-bar {
        padding-top: 32px;
    }
}