@import 'normalize';
@import 'variables';
@import 'loader';
@import 'mixins';
@import 'typography';
@import 'header';
@import 'components/button-link';
@import 'components/message';
@import 'colors';
@import 'hero';
@import 'drawer';
@import 'global';
@import 'layout';
@import 'projects';
@import 'services';
@import 'testimonials';
@import 'contact';
@import 'owl';
@import 'fixes';
@import 'animation/animate';
@import 'footer';
@import 'study/hero-study';
@import 'study/more';
@import 'study/problem';
@import 'study/solution';

html,
body {
    width: auto;
    height: auto;
}

hr {
    border: none;
    border-bottom: 1px solid $color-title;
    margin: 0 1em;
    padding: 0;
}

hr.hr-light {
    border-bottom: 1px solid $color-light-0;
}

* {
    box-sizing: border-box;
}

button {
    outline: 0;
    border: 0;
}

.site {
    &--admin-bar {
        padding-top: 32px;
    }
}