header {
    width: 100%;

    .header {
        &__content {
            min-height: 80vh;
            padding-top: 340px;
            h1 {
            }
        }
    }
    .header__logos {
        .type-label {
            margin-bottom: 40px;
            opacity: 0.5;
        }
    }
}
