.hero-study-bg {
	position: absolute;
	top:20%;
	right: 0;
	height: 80%;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		background: $gr-white-grey;
		z-index: 5;
		opacity:1;
	}
	@media #{$desktop} {
		&:before {
			position: absolute;
			z-index: 5;
		}
	}
}

.case-brief {
	display: flex;
	z-index: 1;
	width: 100%;
	background: $color-light-0;
	@include shadow();
	overflow: hidden;
	@media #{$desktop} {

	}
}

.label {
	color: $color-blue;
	margin-bottom: 1.78em;
	margin-top: 2.8125em;
	font-size: 14px;
}

.left,
.center,
.right {
	display: flex;
	flex: 1;
	padding: 0;
	// border: 1px solid red;
}
.left {
	padding-left: 3em;
}
.center {
	flex: 3;
}

.right {
	background: $color-purple-dark;
	padding-left: 2em;
}
.detail {
	h4 {
		padding: 0em;
		margin: 0;
		margin-bottom: 1.16em;
	}
	ul {
		display: flex;
		padding: 0;
		padding-top: 0em;
		li {
			display: inline;
			padding: 0;
			&:nth-child(1) {
				margin-left: 0em;
			}
		}
	}
	a {
		font-size: 1.5em;
		color: $color-light-0;
	}
}